@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 150px;
}

.frase{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frase h2{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 1.1em;
}

.img img{
    width: 500px;
}